src/main/resources/ibans.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080/demo"
           targetNamespace="http://localhost:8080/demo" elementFormDefault="qualified">

    <xs:element name="Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iban" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ibanResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    