src/main/resources/ibans.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://localhost:8080/demo"
	targetNamespace="soapModel"
	elementFormDefault="qualified">

    <xs:element name="RequestIbanValidation">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded"  name="requestIbans" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResponseIbanValidation">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="responseIbans" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
    